.glp{
	text-align: center;
	display: none;
	width: 200px;
	margin: 0 auto;
}
.glyphicon-bg{
	font-size: 2em;
	cursor: pointer;
}
.preview{
	display: none;
}
#loader{
	text-align: center;
}
/* animations: http://stackoverflow.com/questions/14793367/how-to-add-a-spinner-icon-to-button-when-its-in-the-loading-state; */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}